<div class="footer">
  <div class="footer_panel">
    <div class="footer-panel-1">
      <div class="footer-panel-1-1">
        <a href=""><img src="/assets/logo.png" alt="error" srcset=""></a>     
        <h1>EXPERIYA</h1>
      </div>
      <div class="footer-panel-1-2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aliquam id sapiente, est officia nemo soluta tenetur omnis odio commodi?</p>
    </div>
    </div>
    <div class="footer-panel-2">
      <div class="footer-panel-2-1">
        <h3>
          Policy
        </h3>
        <a href="">
          <p>privacy Policy</p>
        </a>
        <a href="">
          <p>Grievance Redressal</p>
        </a>
        <a href="">
          <p>Fraud Detection</p>
        </a>
        <a href="">
          <p>Shipping Policy</p>
        </a>
        <a href="">
          <p>Terms of Use</p>
        </a>
        <a href="">
          <p>Cancellation & Refund</p>
        </a>
      </div>
      <div class="footer-panel-2-2"> <h3>
        general
      </h3>
      <a href="">
        <p>Contact Us</p>
      </a>
      <a href="">
        <p>Feedback</p>
      </a>
      <a href="">
        <p>Fraud Identification</p>
      </a>
      <a href="">
        <p>Disclaimer</p>
      </a>
      <a href="">
        <p>Annual Reports/Annual Returns</p>
      </a>
      <a href="">
        <p>Solicitation Process</p>
      </a></div>
    </div>
   <div class="footer-panel-3">
    <h3>get in touch</h3>
    <div class="footer-panel-3-1">
      <div> <a href=""><p>Facebook : </p>
        <img src="/assets/fb-icon.png" alt="error" srcset=""></a>
       </div>
      <div><a href=""><p>Instagram : </p>
        <img src="/assets/insta-icon.png" alt="error" srcset=""></a>
        </div>
      <div><a href=""><p>Youtube : </p>
        <img src="/assets/youtube-icon.png" alt="error" srcset=""></a>
       </div>
      <div> <a href=""><p>Linkdin : </p>
        <img src="/assets/linkdin.png" alt="error" srcset=""></a> 
      </div>
      </div>
   </div>
  </div>

</div>
