
<div class="header-menu">
  <div class="header-logo" href="/">
  </div>
  <div class="header-logo-text">
    Experiya
    </div>
  <div class="custom-navbar">
    <!-- <a href="#home">Policy</a> -->
    <div class="dropdown">
      <button class="dropbtn">Policy
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="login-signup-menus">
    <a href="/account/login" class="login">Login</a>

    <a href="/account/signup" class="signup">Sign Up</a>
    </div>
  </div>
</div>
