<app-header></app-header>
<div class="panel-wrapper">
<div class="panel-main">
  <div class="panel-1">
    <div class="empty">
      <img src="/assets/leader.png" alt="error" srcset="">
    </div>
    <div class="panel-info">
      <div class="textTagline">
          Zero Investment, <span>Income Shuru</span>
        </div>
        <div class="insurance_point">
          Become an Insurance Point of Sale Person with Us!
        </div>
        <div class="showdesktop">
        <div class="showdesktop-point-1">
          <div class="point-o">
            <img src="https://pos.insurancedekho.com/public/b2c/zigwheels/img/star-id.svg">
          </div>
          <div class="text-point-o">PAN India</div>
          <div class="text-point-b">Coverage</div>
        </div>
  
        <div class="showdesktop-point-1">
          <div class="point-o"><img src="https://pos.insurancedekho.com/public/b2c/zigwheels/img/scnd-id.svg"></div>
          <div class="text-point-o">40+ Insurer</div>
          <div class="text-point-b">Tie-Ups</div>
        </div>
  
        <div class="showdesktop-point-1">
          <div class="point-o"><img src="https://pos.insurancedekho.com/public/b2c/zigwheels/img/triangle-id.svg"></div>
          <div class="text-point-o">25 Lakhs +</div>
          <div class="text-point-b">Policies Sold</div>
        </div>
    </div>
    <span class="watchAdd"><a href="javascript:void(0);" id="playVideo"><img src="https://pos.insurancedekho.com/public/b2c/zigwheels/img/poscompain/v1.png">Watch our Ad Film</a> </span>
    </div>
  </div>
  
  <div class="panel-login panel-main-div">
    <div class="main-login-div">
      <b>Login or Signup</b>
      <input type="email" name="" value="" placeholder="Email Address">
      <input type="password" name="" value="" placeholder="Password">
      <button type="button" name="button" class="btn danger-btn">Login</button>
      <p>Don't have a account <a href="../account/signup">Signup</a></p>
  </div>
</div>
</div>
<div class="panel-secondary">
  <div class="main-text">
    Benefits of Being an Experiya PoSP
    </div>
  <div class="sub-text">
    Understand your options. Identify the best value. Enjoy peace of mind
  </div>
  <div class="panel-secondary-grid">
              <div >
                <div class="image-sec-agent">
                  <div class="images-agent">
                    <img src="https://pos.insurancedekho.com/public/b2c/zigwheels/img/partner.svg" alt="Partner">
                  </div>
                  <div class="img__text">
                    <div class="heading-o">40+ insurers as partners</div>
                    <div class="text-o">Get motor and health quotes from 40+ <br>insurers on a single platform.</div>
                  </div>
                </div>
              </div>

              <div >
                <div class="image-sec-agent">
                  <div class="images-agent">
                    <img src="https://pos.insurancedekho.com/public/b2c/zigwheels/img/paperless-policy.svg" alt="Paperless Policy">
                  </div>
                  <div class="img__text">
                    <div class="heading-o">Paperless policy</div>
                    <div class="text-o">Completely hassle-free, instant and digital<br> policy issuance process.</div>
                  </div>
                </div>
              </div>


              <div >
                <div class="image-sec-agent">
                  <div class="images-agent">
                    <img src="https://pos.insurancedekho.com/public/b2c/zigwheels/img/product-training.svg" alt="Product Training">
                  </div>
                  <div class="img__text">
                    <div class="heading-o">Product training</div>
                    <div class="text-o">Get professionally trained about all <br> insurance products.</div>
                  </div>
                </div>
              </div>

              <div>
                <div class="image-sec-agent">
                  <div class="images-agent">
                    <img src="https://pos.insurancedekho.com/public/b2c/zigwheels/img/timely-payment.svg" alt="Timely Payment">
                  </div>
                  <div class="img__text">
                    <div class="heading-o">Timely payments</div>
                    <div class="text-o">Get paid timely for the insurance <br> policies you sell.</div>
                  </div>
                </div>
              </div>

              <div>
                <div class="image-sec-agent">
                  <div class="images-agent">
                    <img src="https://pos.insurancedekho.com/public/b2c/zigwheels/img/digital.svg" alt="Digital">
                  </div>
                  <div class="img__text">
                    <div class="heading-o">Post policy support</div>
                    <div class="text-o">Get assisted online for providing all<br>after sales services.</div>
                  </div>
                </div>
              </div>

              <div>
                <div class="image-sec-agent">
                  <div class="images-agent">
                    <img src="https://pos.insurancedekho.com/public/b2c/zigwheels/img/claim.svg" alt="Claim">
                  </div>
                  <div class="img__text">
                    <div class="heading-o">Claim-settlement support</div>
                    <div class="text-o">Get online assistance for settling <br>insurance claims of customers.</div>
                  </div>
                </div>
              </div>

</div>
<div class="panel-step-div">
<div class="main-text">
  Become An Experiya PoSP In 3 Steps
</div>
<div class="sub-text">
  You can now take advantage of multiple, flexible options
</div>
<div class="owl-container">
  <div class="owl-item active" ><div class="item">
                    <div class="slide-steps-box">
                      <div><img src="https://pos.insurancedekho.com/public/b2c/zigwheels/img/form.svg" alt="Form"></div>
                      <div class="heading-txt">Step 1</div>
                      <div class="scdry-txt"> Fill up 'Become a POS' form on our website and submit KYC documents to begin registration </div>
                    </div>
                  </div></div>
                  <div class="owl-item active"><div class="item">
                    <div class="slide-steps-box">
                      <div><img src="https://pos.insurancedekho.com/public/b2c/zigwheels/img/form.svg" alt="Form"></div>
                      <div class="heading-txt">Step 2</div>
                      <div class="scdry-txt"> Complete mandatory 15 hour training and take the examination</div>
                    </div>
                  </div></div>
                  <div class="owl-item active"><div class="item">
                    <div class="slide-steps-box">
                      <div><img src="https://pos.insurancedekho.com/public/b2c/zigwheels/img/form.svg" alt="Form"></div>
                      <div class="heading-txt">Step 3</div>
                      <div class="scdry-txt">                       Post passing the examination, you will be enrolled as IRDAI registered PoSP with Us</div>
                    </div>
                  </div></div>
</div>
</div>
<div class="policy-banner">
  <div class="policy-banner-left">
    <h1>Let's find you
the Best Insurance</h1>
    </div>
    <div class="policy-banner-right">
      <h2>A commitment
to our customers</h2>
      </div>
</div>
<div class="grid-policy">
  <div class="policy-menu">policy 1</div>
  <div class="policy-menu">policy 1</div>
  <div class="policy-menu">policy 1</div>
  <div class="policy-menu">policy 1</div>
  <div class="policy-menu">policy 1</div>
  <div class="policy-menu">policy 1</div>
  <div class="policy-menu">policy 1</div>
  <div class="policy-menu">policy 1</div>
  <div class="policy-menu">policy 1</div>
  <div class="policy-menu">policy 1</div>
  </div>



  <div class="container faq_main">
    <div class="row faq_title">
      <h1>Frequently Asked Questions </h1>
    </div>
    <div class="row faq_panel">
      <div class="col-7 faq_left-panel">
        <div class="faq_box">
          <div class="faq_heading">
            <h3>What exactly is POSP Insurance Agent?</h3>
            <button (click)="hide1()"><img src="{{src1}}" alt="" srcset=""></button>
          </div>
          <div class="faq_ans" [style.display]="display1">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, esse, quisquam laborum quam saepe, voluptatibus omnis animi eaque ullam natus sapiente quidem exercitationem voluptatum veritatis alias optio unde delectus quae!
            </p>
          </div> 
        </div>
        <div class="faq_box"><div class="faq_heading">
            <h3>What exactly is POSP Insurance Agent?</h3>
            <button (click)="hide2()"><img src="{{src2}}" alt="" srcset=""></button>
          </div>
          <div class="faq_ans" [style.display]="display2">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, esse, quisquam laborum quam saepe, voluptatibus omnis animi eaque ullam natus sapiente quidem exercitationem voluptatum veritatis alias optio unde delectus quae!
            </p>
          </div></div>
        <div class="faq_box"><div class="faq_heading">
            <h3>What exactly is POSP Insurance Agent?</h3>
            <button (click)="hide3()"><img src="{{src3}}" alt="" srcset=""></button>
          </div>
          <div class="faq_ans" [style.display]="display3">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, esse, quisquam laborum quam saepe, voluptatibus omnis animi eaque ullam natus sapiente quidem exercitationem voluptatum veritatis alias optio unde delectus quae!
            </p>
          </div></div>
        <div class="faq_box"><div class="faq_heading">
            <h3>What exactly is POSP Insurance Agent?</h3>
            <button (click)="hide4()"><img src="{{src4}}" alt="" srcset=""></button>
          </div>
          <div class="faq_ans" [style.display]="display4">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, esse, quisquam laborum quam saepe, voluptatibus omnis animi eaque ullam natus sapiente quidem exercitationem voluptatum veritatis alias optio unde delectus quae!
            </p>
          </div></div>
        <div class="faq_box"><div class="faq_heading">
            <h3>What exactly is POSP Insurance Agent?</h3>
            <button (click)="hide5()"><img src="{{src5}}" alt="" srcset=""></button>
          </div>
          <div class="faq_ans" [style.display]="display5">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, esse, quisquam laborum quam saepe, voluptatibus omnis animi eaque ullam natus sapiente quidem exercitationem voluptatum veritatis alias optio unde delectus quae!
            </p>
          </div></div>
      </div>
      <div class="col-5 faq_right-panel">
        <img src="/assets/faq_side-img 2.jpg" alt="" srcset="">
      </div>
    </div>
  </div>
  <!-- <app-slider></app-slider> -->
  <app-footer></app-footer>
