<style media="screen">
.search-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 25px;
  border-radius:4px;
}
.search-box-left{
  width: 80%;
  border: 0px;
}
.search-box-sub{
  width: 60%;
  border: 0px;
  margin-top:0px!important;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(1) {
  background-color: #dddddd;
}
table{
  width:100%;
  border:1px solid #ccc;
}
.vehicle-table{
  border:1px solid #ccc;
  margin-top:15px;
  position:relative;
}
.export-btn{
  float:right;
  position:absolute;
  right:10px;
}
</style>

<div class="search-box">
  <input type="text" placeholder="Search By Reg Number">
  <input type="text" placeholder="Date Range">
  <div class="dropdown">
   <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
     Vehicle Type
     <span class="caret"></span>
   </button>
   <ul role="listbox" class="dropdown-menu policy-form-d-menu">
     <li>2W</li>
     <li>4W</li>
     <li>Commerical</li>
     </ul>
   </div>
   <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
      Status
      <span class="caret"></span>
    </button>
    <ul role="listbox" class="dropdown-menu policy-form-d-menu">
      <li>Open</li>
      <li>Closed</li>
      </ul>
    </div>
    <button type="button" name="button" class="btn btn-danger">Search</button>
    <button type="button" name="button" class="btn">Reset</button>
</div>
<div class="search-box search-box-left">
  <div class="">
    Offline Quotes (3)
  </div>
  <div class="">
    Proposal Pending (118)
  </div>
  <div class="">
    Document Pending (3)
  </div>
  <div class="">
    Payment Pending (3)
  </div>
  <div class="">
    Booking Pending (3)
  </div>
  <div class="">
    Issue (18)
  </div>
</div>
<div class="vehicle-table">
  <div class="search-box search-box-sub">
    <div class="">
      <b>
      18
      </b>
      olicies
    </div>
    <div class="">
      <b>
      90,000
      </b>
      Premium
    </div>
    <div class="">
      <b>
      21,000 OD
      </b>
      Premium
    </div>
    <div class="">
      <b>
      21,000 TP
      </b>
      Premium
    </div>
    <button type="button" name="button" class="btn btn-danger export-btn">Export</button>
  </div>
<table>
  <tr>
    <th>Customer</th>
    <th>Vehicle</th>
    <th>Reg. Number</th>
    <th>Insurer</th>
    <th>Policy Number</th>
    <th>Case Made</th>
    <th>Premium</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Wagonar</td>
    <td>DL2-AC-5656</td>
    <td>Island Trading</td>
    <td>21131315</td>
    <td>Online</td>
    <td>2000</td>
    <td><button type="button" name="button" class="btn btn-danger">View</button></td>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Wagonar</td>
    <td>DL2-AC-5656</td>
    <td>Island Trading</td>
    <td>21131315</td>
    <td>Online</td>
    <td>2000</td>
    <td><button type="button" name="button" class="btn btn-danger">View</button></td>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Wagonar</td>
    <td>DL2-AC-5656</td>
    <td>Island Trading</td>
    <td>21131315</td>
    <td>Online</td>
    <td>2000</td>
    <td><button type="button" name="button" class="btn btn-danger">View</button></td>
  </tr>
</table>
</div>
