<div class="info-page">
<div class="info-page-menu">
  <div class="option-list">
    <div class="option-list-heading">Car Insurance</div>
    <ng-container *ngFor="let stage of allStages">
      <div class="option-list-item" (click)="setStage(stage.level)" [ngClass]="{ 'active-element': stage.level < currStage.level }">
        {{stage.name}}
        <ng-container *ngIf="stage.level < currStage.level">
          <i class="fa fa-check" aria-hidden="true" style="color:blue;"></i>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
<div class="info-page-content">
  <ng-container *ngIf="currStage.level == 5">
    <div class="info-page-form">
      <div class="heading"> Owner Details </div>
      <div class="form-row">
        <div class="fields">
          <div class="group">
           <input class="custom-inp" type="text" required (ngModel)="userService.data.rto" value="{{userService.data.rto}}">
           <span class="highlight"></span>
           <span class="bar"></span>
           <label>Rto</label>
         </div>
         <div class="group">
          <input class="custom-inp" type="text" required (ngModel)="userService.data.registrationNumber" value="{{userService.data.registrationNumber}}">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Registration Number</label>
        </div>
        </div>
        <div class="singleLine-left">
          <input type="checkbox" name="" value="">
          <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This car is in the name of the company</h5>
        </div>
        <div class="fields">
          <div class="group">
           <input class="custom-inp" type="text" required (ngModel)="userService.data.firstName" value="{{userService.data.firstName}}">
           <span class="highlight"></span>
           <span class="bar"></span>
           <label>First Name</label>
         </div>
         <div class="group">
          <input class="custom-inp" type="text" required (ngModel)="userService.data.lastName" value="{{userService.data.lastName}}">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Last Name</label>
        </div>
        </div>
        <div class="fields">
          <div class="group">
           <input class="custom-inp" type="text" required (ngModel)="userService.data.email" value="{{userService.data.email}}">
           <span class="highlight"></span>
           <span class="bar"></span>
           <label>Email</label>
         </div>
         <div class="group">
          <input class="custom-inp" type="text" required (ngModel)="userService.data.phone" value="{{userService.data.phone}}">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Phone</label>
        </div>
        </div>
        <div class="fields">
          <div class="group">
           <input class="custom-inp" type="text" required (ngModel)="userService.data.panCard" value="{{userService.data.panCard}}">
           <span class="highlight"></span>
           <span class="bar"></span>
           <label>Pan Card</label>
         </div>
         <div class="group">
          <input class="custom-inp" type="text" required (ngModel)="userService.data.aadharCard" value="{{userService.data.aadharCard}}">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Aadhar Card</label>
        </div>
        </div>
        Address as on RC
        <div class="group group-margin">
         <input class="custom-inp" type="text" required (ngModel)="userService.data.address1" value="{{userService.data.address1}}">
         <span class="highlight"></span>
         <span class="bar"></span>
         <label>Address Line 1</label>
       </div>
       <div class="group group-margin">
        <input class="custom-inp" type="text" required (ngModel)="userService.data.address2" value="{{userService.data.address2}}">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Address Line 2</label>
      </div>
      <div class="group group-margin">
       <input class="custom-inp" type="text" required (ngModel)="userService.data.address3" value="{{userService.data.address3}}">
       <span class="highlight"></span>
       <span class="bar"></span>
       <label>Address Line 3</label>
     </div>
     <div class="fields">
       <button type="button" class="btn btn-danger" name="button" (click)="setStage(6)">Save</button>
     </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="currStage.level == 6">
    <div class="info-page-form">
      <div class="heading"> Summary <button type="button" name="button">Need Help</button></div>
      <div class="form-row">
        <div class="singleLine-left">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          Important Details to review before payment
        </div>
        <div class="sub-heading"> Vehicle Details </div>
        <div>
          <div class="fields">
            <div class="item">
              <div class="sub-heading">
                Vehicle
              </div>
              <div class="value">
                {{userService.data?.vehicleMake ? userService.data.vehicleMake : 'Dummy'}}
              </div>
            </div>
            <div class="item">
              <div class="sub-heading">
                Manufacturing Date
              </div>
              <div class="value">
                {{userService.data?.manufacturingDate ? userService.data.manufacturingDate : 'Dummy'}}
              </div>
            </div>
            <div class="item">
              <div class="sub-heading">
                Registartion Date
              </div>
              <div class="value">
                {{userService.data?.registrationDate ? userService.data.registrationDate : 'Dummy'}}
              </div>
            </div>
            <div class="item">
              <div class="sub-heading">
                Registartion Number
              </div>
              <div class="value">
                {{userService.data?.registrationNumber ? userService.data.registrationNumber : 'Dummy'}}
              </div>
            </div>
            <div class="item">
              <div class="sub-heading">
                Engine Number
              </div>
              <div class="value">
                {{userService.data?.engineNumber ? userService.data.engineNumber : 'Dummy'}}
              </div>
            </div>
            <div class="item">
              <div class="sub-heading">
                Chasis Number
              </div>
              <div class="value">
                {{userService.data?.chasisNumber ? userService.data.chasisNumber : 'Dummy'}}
              </div>
            </div>
            <div class="item">
              <div class="sub-heading">
                Previous Insurance
              </div>
              <div class="value">
                {{userService.data?.previousPolicy ? userService.data.previousPolicy : 'Dummy'}}
              </div>
            </div>
            <div class="item">
              <div class="sub-heading">
                Previous Policy NO.
              </div>
              <div class="value">
                {{userService.data?.vehicleMake ? userService.data.vehicleMake : 'Dummy'}}
              </div>
            </div>
            <div class="item">
              <div class="sub-heading">
                Previous Policy Expiry Date
              </div>
              <div class="value">
                {{userService.data?.previousPolicyExpiry ? userService.data.previousPolicyExpiry : 'Dummy'}}
              </div>
            </div>
          </div>
        </div>

          <div class="sub-heading"> Owner Details </div>
          <div>
            <div class="fields">
              <div class="item">
                <div class="sub-heading">
                  Name
                </div>
                <div class="value">
                  {{userService.data?.firstName ? userService.data.firstName : 'Dummy'}}
                </div>
              </div>
              <div class="item">
                <div class="sub-heading">
                  Phone
                </div>
                <div class="value">
                  {{userService.data?.phone ? userService.data.phone : 'Dummy'}}
                </div>
              </div>
              <div class="item">
                <div class="sub-heading">
                  Email
                </div>
                <div class="value">
                  {{userService.data?.email ? userService.data.email : 'Dummy'}}
                </div>
              </div>
              <div class="item">
                <div class="sub-heading">
                  Address
                </div>
                <div class="value">
                  {{userService.data?.address1 ? userService.data.address1 : 'Dummy'}}
                </div>
              </div>
              </div>
              </div>

              <div class="sub-heading"> Personal Details </div>
              <div>
                <div class="fields">
                  <div class="item">
                    <div class="sub-heading">
                      Name
                    </div>
                    <div class="value">
                      {{userService.data?.firstName ? userService.data.firstName : 'Dummy'}}
                    </div>
                  </div>
                  <div class="item">
                    <div class="sub-heading">
                      Phone
                    </div>
                    <div class="value">
                      {{userService.data?.phone ? userService.data.phone : 'Dummy'}}
                    </div>
                  </div>
                  <div class="item">
                    <div class="sub-heading">
                      Email
                    </div>
                    <div class="value">
                      {{userService.data?.email ? userService.data.email : 'Dummy'}}
                    </div>
                  </div>
                  <div class="item">
                    <div class="sub-heading">
                      Address
                    </div>
                    <div class="value">
                      {{userService.data?.address1 ? userService.data.address1 : 'Dummy'}}
                    </div>
                  </div>
                  <div class="item">
                    <div class="sub-heading">
                      Aadhar Card
                    </div>
                    <div class="value">
                      {{userService.data?.aadharCard ? userService.data.aadharCard : 'Dummy'}}
                    </div>
                  </div>
                  <div class="item">
                    <div class="sub-heading">
                      Pan Card
                    </div>
                    <div class="value">
                      {{userService.data?.panCard ? userService.data.panCard : 'Dummy'}}
                    </div>
                  </div>
                  </div>
                  </div>

      </div>
    </div>
  </ng-container>
</div>
<div class="info-page-payment">
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">Plan Summary <a routerLink="../getQuotes">Change Plan</a></h5>
    <div class="">LOGO</div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">IDV : </li>
    <li class="list-group-item">Business Type :</li>
    <li class="list-group-item">Policy Type :</li>
    <li class="list-group-item">Add Ons :</li>
    <li class="list-group-item">Eligible NCB :</li>
    <li class="list-group-item">Claimed Previous Year:</li>
    <li class="list-group-item">Total Premium :</li>
    <li class="list-group-item">18% GST :</li>
    <li class="list-group-item">Total Payable :</li>
  </ul>
  <div class="card-body">
    <div class="singleLine">
      <input type="checkbox" name="" value="">
      <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I agree to the Terms & Conditions</h5>
    </div>
    <div class="singleLine-col">
      <button type="button" class="btn btn-danger payment-buttons" name="button"><a href="https://rzp.io/i/Nhy6ItgG" target="_blank" rel="noopener noreferrer">MAKE PAYMENT (1)</a></button>
      <button type="button" class="btn payment-buttons" name="button" routerLink="../info">SMS PAYMENT LINK</button>
    </div>
  </div>
  </div>
</div>
</div>
