<style>
  .header{
    padding: 10px;
    display: flex;
    height: 60px;
    background-color: rgb(245,245,245);
    /* color: #fff; */
    align-items: center;
    justify-content: space-between;
  }
  .header-logo{
    display: block;
    height: 40px;
    background-image: url(/assets/logo.png);
    background-color: black;
    background-size: contain;
    width: 35px!important;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-repeat: no-repeat;
    position: absolute;
    left: 10px;
  }
  .header-logo+a{
    font-size: 28px;
    text-decoration: none;
    font-weight: 800;
    position: absolute;
    left: 50px;
    color: #057cd9;
  }
  a{
    color:#fff;
    text-decoration:none;
  }
  .header-signup{
    padding: 0px 20px;
display: flex;
align-items: center;
flex-direction: column;
position: absolute;
    right: 0px;
  }
  .login-container{
    width: 50vw;
    height: 500px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    /* border: 1px solid black; */
    margin-top: 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .login-form{
    padding-left: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: calc(100vh - 60px); */
    flex-direction: column;
    background-color: #f5f5f5;
    flex:1;
  }
 
  .form-group{
    width: 90%;
    float: left;
  }
  .form-group input{
    width: 95%;
    margin: auto;
  }
  .login-image>img{
     width: 100%;
     height: 100%;
  }
  .register-btn{
    background: rgb(47,113,169);
border-radius: 5px;
font-size:12px;
font-weight: 600;
  }
  @media screen and (max-width:520px) {
    .login-container{
      grid-template-rows: 30% 70%;
      grid-template-columns: 1fr;
      height: fit-content;
      padding: 1%;
    }
    .header-logo+a{
      font-size: 22px; 
    }
  }
</style>





<div class="header">

  <div class="header-logo" routerLink="../home">
  </div>
  <a href="../landing/landing.component.html">EXPERIYA</a>

  <div class="header-signup">
    Alerady have an account  ?
    <br>

    <a routerLink="../login" class="btn btn-link register-btn">Login</a>
    </div>

  </div>
﻿<div class="card login-container">
  <div class="login-image">
    <img src="/assets/logo.png" alt="" srcset="">
    </div>
    <div class="card-body login-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a routerLink="../login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
